<% if breadcrumbs.present? %>
  <% breadcrumbs.each do |crumb| %>
    <li><%= link_to crumb.name, place_path(crumb) %></li>
  <% end %>
<% else %>
  <li><%= link_to 'Countries', search_path(q:'', type: 'country') %></li>
  <li><%= link_to 'States', search_path(q:'', type: 'state') %></li>
  <li><%= link_to 'Cities', search_path(q:'', type: 'city') %></li>
<% end %>
