<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid col-lg-10 col-lg-offset-1">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><%= image_tag "logo-small.png" %>rivyr</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div id="main-nav" class="collapse navbar-collapse">
      <ul class='nav navbar-nav'>
        <li class='search-nav'>
          <form role="search" action='/search' method='get'>
            <input id='search-query' type='text' name='q' placeholder="Where would you like to explore?" value="<%= @keyword %>" />
            <input id='search-submit' type="submit" style="visibility: hidden; position: fixed;"/>
          </form>
          <label class='search-button' for='search-submit'><span class='glyphicons search'></span></label>
        </li>
        <% if logged_in? %>
          <li class="dropdown lg-right">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.username %><span class="caret"></span></a>
            <ul class="dropdown-menu pull-right" role="menu">
              <li><%= link_to 'Sign out', session_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <% unless sign_up_path? %><li class='lg-right'><%= link_to "Sign Up", new_user_path %></li><% end %>
          <% unless log_in_path? %><li class='lg-right'><%= link_to "Log In", new_session_path %></li><% end %>
        <% end %>
        <li class='hidden-md hidden-sm hidden-lg'><%= link_to 'Browse All', search_path(q:'') %></li>
        <% if breadcrumbs.present? %>
          <% breadcrumbs.each do |crumb| %>
            <li class='hidden-md hidden-sm hidden-lg'><%= link_to crumb.name, place_path(crumb) %></li>
          <% end %>
        <% else %>
          <li class='hidden-md hidden-sm hidden-lg'><%= link_to 'Countries', search_path(q:'', type: 'country') %></li>
          <li class='hidden-md hidden-sm hidden-lg'><%= link_to 'States', search_path(q:'', type: 'state') %></li>
          <li class='hidden-md hidden-sm hidden-lg'><%= link_to 'Cities', search_path(q:'', type: 'city') %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
