<div class="btn-group btn-group-justified">
  <% @droplet_types.each do |type| %>
    <div class="btn-group">
    <button type="button" class="btn btn-default <%= 'active' if params[:id].to_i == type.id %>" data-link="<%= place_droplet_path(@place, type) %>"><%= type.name %></button>
  </div>
<% end %>
</div>
