<h3>Write your "<%= @droplet_type.name %>" droplet</h3>
<p>Been to <%= @place.name %>? Let others know about the <%= @droplet_type.name.downcase %> here.  Be as descriptive, accurate, and helpful as possible!</p>
<div class='clearfix droplet-form'>
  <%= form_for [@place, @edit_droplet] do |f| %>
    <h4>Rating:</h4>
  <div class='my-rating row'>
    <div class='col-lg-11 col-md-11 col-sm-11 col-xs-10'>
      <%= f.range_field :rating, min: 0, max: 100, "data-rangeslider" => '' %>
    </div>
    <div class='rating-slider-output text-center col-lg-1 col-md-1 col-sm-1 col-xs-2'></div>
  </div>
  <h4>Content:</h4>
  <%= f.hidden_field :droplet_type_id %>
  <%= f.text_area :content, class: 'form-control', rows: 9 %>
  <%= f.submit "Save", class: 'btn btn-info pull-right submit' %>
<% end %>
</div>
