<h3>Vote on the most helpful "<%= type.name %>" droplet</h3>

<ul class="sorts nav nav-pills">
  <li class="<%= 'active' if params["sort"].nil? %>"><%= link_to "Top", place_droplet_path(place, type) %></li>
  <li class="<%= 'active' if params["sort"] == 'new' %>"><%= link_to "New", place_droplet_path(place, type, sort: 'new') %></li>
</ul>

<% if droplets.count > 0 %>
  <% droplets.each do |droplet| %>
    <div class='droplet-item pull-left'>

      <div class='vote-box pull-left'>
        <div class='text-center' data-id="<%= droplet.id %>">
          <%= render partial: 'vote_selector', locals: { droplet: droplet, direction: 'up' } %>
          <div class='vote-value'><%= droplet.cached_votes_score %></div>
          <%= render partial: 'vote_selector', locals: { droplet: droplet, direction: 'down' } %>
        </div>
      </div>

      <div class='droplet-content col-lg-8 col-md-8 col-sm-7 col-xs-10'>
        <div class="well">
          <%= raw droplet.render %>
        </div>
      </div>

      <div class='details side col-lg-3 col-md-3 col-sm-4 col-xs-10'>
        <div class='text-muted'>
          <%= render partial: 'shared/guide_side_details', locals: { place: @place, droplet: droplet } %>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="alert alert-gray text-center">
    Be the first to write a droplet!
  </div>
<% end %>
