<% voted = current_user.send("voted_#{direction}_for?", droplet) if current_user %>
<% if current_user %>
  <%= content_tag 'div', class: "vote-selector #{'voted' if voted}", data: { id: droplet.id, state: voted, direction: direction } do %>
    <h6><span class='glyphicon glyphicon-chevron-<%= direction %>'></span></h6>
  <% end %>
<% else %>
  <%= link_to new_session_path do %>
    <%= content_tag 'div', class: "vote-selector" do %>
      <h6><span class='glyphicon glyphicon-chevron-<%= direction %>'></span></h6>
    <% end %>
  <% end %>
<% end %>
