<div class='container'>
  <div class='row main-content'>
    <div class="col-lg-10 col-lg-offset-1">
      <%= render partial: 'shared/alerts' if flash[:alerts] %>
      <div>
        <%= render partial: 'places/guide_details', locals: { place: @place } %>
        <hr />
        <%= render 'droplet_type_button_group' %>
        <hr />

        <% if current_user %>
          <%= render 'form' %>
        <% else %>
          <div class="alert alert-gray text-center">
            <%= link_to new_session_path do %><span class="btn btn-success">Write Droplet</span></a><% end %>
          </div>
        <% end %>

        <hr style='width:100%;'>
        <%= render partial: 'most_helpful', locals: { type: @droplet_type, droplets: @droplets, place: @place } %>
      </div>
    </div>
  </div>
</div>
