<div class='actionbar hidden-xs'>
  <div class="container-fluid col-lg-10 col-lg-offset-1">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Browse All', search_path(q:'') %></li>
        <%= yield %>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to 'Add Place', new_place_path %></li>
      </ul>
  </div>
</div>
