<div class='container'>
  <div class='row main-content'>
    <div class="col-lg-10 col-lg-offset-1">
      <%= render partial: 'shared/alerts' if flash[:alerts] %>

      <div class="col-sm-7 col-centered">
        <div class='row text-center'>
          <%= image_tag "moon-river.png" %>
        </div>
        <div class='row'>
          <h2>Sign In</h2>
          <p>If you don't have an account, <%= link_to "Sign up", new_user_path %> in seconds.</p>
          <!-- Sign in Form -->
          <div class="well bs-component">
            <%= form_for @user, url: sessions_path do |f| %>
              <fieldset>
                <div class="form-group <%= 'has-error' if @user.errors[:email].present? %> ">
                  <%= f.label 'email', class: "control-label" %>
                  <%= f.email_field 'email', class: 'form-control' %>
                  <%= render_first_error(@user, :email) %>
                </div>
                <div class="form-group <%= 'has-error' if @user.errors[:password].present? %> ">
                  <%= f.label 'password', class: "control-label" %>
                  <%= f.password_field 'password', class: 'form-control'  %>
                  <%= render_first_error(@user, :password) %>
                </div>
                <div class="form-group">
                  <%= f.submit "Sign in", class: "btn btn-primary pull-right" %>
                </div>
            </fieldset>
          <% end %>
          </div>
          <!-- /end Sign in Form -->
        </div>
      </div>
    </div>
  </div>
</div>
