<div class='widget'>
  <% if @heading_url %>
    <h3><%= link_to @heading_url do %><span class='glyphicons <%= glyph %>'></span><%= heading %><% end %></h3>
  <% else %>
    <h3><span class='glyphicons <%= glyph %>'></span><%= heading %></h3>
  <% end %>

  <ul>
    <% destinations.each do |place| %>
      <% if place.id %>
        <li><%= link_to place.name, place_path(place) %></li>
      <% else %>
        <li><%= link_to "Add Place", new_place_path %></li>
      <% end %>
    <% end %>
    <% blank_rows.times do |i| %>
      <li class='blank'>&nbsp;</li>
    <% end %>
  </ul>
</div>
