<div class='container'>
  <div class='row main-content'>
    <div class="col-lg-10 col-lg-offset-1">
      <%= render partial: 'shared/alerts' if flash[:alerts] %>
        <div class="col-sm-7 col-centered">
          <div class='row text-center'>
            <%= image_tag "moon-river.png" %>
          </div>
          <div class='row'>
            <h2>Join passionate travelers today</h2>
            <p>Rivyr is a community of explorers teaming up to create high quality travel guides.  Join in seconds! Or <%= link_to 'log in', new_session_path %>.</p>
            <!-- Sign up Form -->
            <div class="well bs-component">
              <%= form_for @user do |f| %>
                <fieldset>
                  <div class="form-group <%= 'has-error' if @user.errors[:email].present? %> ">
                    <%= f.label :email, class: "control-label" %>
                    <%= f.email_field :email, class: 'form-control' %>
                    <%= render_first_error(@user, :email) %>
                  </div>
                  <div class="form-group <%= 'has-error' if @user.errors[:username].present? %> ">
                  <%= f.label :username, class: "control-label" %>
                  <%= f.text_field :username, class: 'form-control'  %>
                  <%= render_first_error(@user, :username) %>
                </div>
                <div class="form-group <%= 'has-error' if @user.errors[:password].present? %> ">
                  <%= f.label :password, class: "control-label" %>
                  <%= f.password_field :password, class: 'form-control'  %>
                  <%= render_first_error(@user, :password) %>
                </div>
                <div class="form-group">
                  <%= f.submit "Create My Account", class: "btn btn-primary pull-right" %>
                </div>
              </fieldset>
            <% end %>
            </div>
            <!-- /end Sign up Form -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
