<div class='nav-links hidden-xs'>
  <div class="container-fluid col-lg-10 col-lg-offset-1">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Browse All', search_path(q:'') %></li>
        <li><%= link_to 'Countries', search_path(q:'', type: 'country') %></li>
        <li><%= link_to 'States', search_path(q:'', type: 'state') %></li>
        <li><%= link_to 'Cities', search_path(q:'', type: 'city') %></li>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to 'Add Place', new_place_path %></li>
        <% if logged_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.username %><span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to 'Sign out', session_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <% unless sign_up_path? %>
            <li><%= link_to "Sign Up", new_user_path %></li> <% end %>
          <% unless log_in_path? %>
            <li><%= link_to "Log In", new_session_path %></li>
          <% end %>
        <% end %>
      </ul>
  </div>
</div>
