<% (flash[:alerts] || []).each do |alert| %>
  <div class="alert alert-temp alert-dismissable alert-<%= alert.first %> fade in">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong><%= t alert.last %></strong></a>
  </div>
<% end %>
<% flash.clear %>
