<footer>
  <div class="container">
    <div class="row">

      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <h4 class="line3 center standart-h4title"><span>navigation</span></h4>
        <ul class="footer-links">
          <li><%= link_to 'home', home_path %></li>
          <li><%= link_to 'add place', new_place_path %></li>
          <li><%= link_to 'privacy', privacy_path %></li>
        </ul>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <h4 class="line3 center standart-h4title"><span>social</span></h4>
        <ul class="footer-links">
          <li><a href="https://twitter.com/rivyr_app">twitter</a></li>
          <li><a href="https://www.facebook.com/rivyr">facebook</a></li>
          <li><a href="http://google.com/+rivyr-travel">google+</a></li>
        </ul>
      </div> 

      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <h4 class="line3 center standart-h4title"><span>reading list</span></h4>
        <ul class="footer-links">
          <li><a href="http://www.adventure-journal.com/">adventure journal</a></li>
          <li><a href="http://www.classetouriste.be/">classe touriste</a></li>
          <li><a href="http://www.hitherandthither.net/">hither & thither</a></li>
          <li><a href="http://www.ahotellife.com/">hotel life</a></li>
          <li><a href="http://roadsandkingdoms.com/">roads and kingdoms</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <h4 class="line3 center standart-h4title"><span>rivyr</span></h4>
        <p>rivyr.com allows passionate explorers to collaboratively write high quality travel guides for every place you'd ever want to explore.</p>
      </div>

    </div><!-- ROW FOOTER-->
    <hr>
    <p>Copyright © 2014 Rivyr.com.</p>
  </div><!-- CONTAINER FOOTER-->

</footer>
