<%= gravatar_tag droplet.user.email, size: 60, html: {class: 'profile-pic pull-left'} %>
<small>
  <ul>
      <% if droplet.user %><li><%= droplet.user.username %></li><% end %>
      <% if droplet.created_at %><li><span class='glyphicons calendar'></span> <%= time_ago_in_words(droplet.created_at) %> ago</li><% end %>
      <% if controller_name == 'places' %>
        <% if droplet.cached_votes_score > 0 %><li><span class='glyphicons star'></span> <%= pluralize(droplet.cached_votes_total, 'vote') %></li><% end %>
      <% end %>
      <% if controller_name == 'droplets' %>
        <li><span class='glyphicons certificate'></span> <%= droplet.rating %> / 100</li>
      <% end %>
  </ul>
</small>
<% if controller_name == 'places' %>
  <div><%= link_to place_droplet_path(place, droplet.droplet_type), class: 'btn btn-info btn-xs' do -%>Best of <%= droplet.type_count(place) %> droplets<%- end -%></div>
<% end %>
