<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid col-lg-10 col-lg-offset-1">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><%= image_tag "logo-small.png" %>rivyr</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <div class='search-container'>
          <form id="search-form" role="search" action='/search' method='get'>
            <li class='pull-left'><input id='search-query' type='text' name='q' placeholder="Search" value="<%= @keyword %>" /></li>
            <li class='pull-left'><input id='search-scope' type='text' name='q_area' placeholder='In what area?' value="<%= @scope.name if @scope %>" /></li>

            <input id='search-scope-value' type='hidden' name='place_id' value="<%= @scope.id if @scope %>"/>
            <input id='search-submit' type="submit" style="visibility: hidden; position: fixed;"/>
          </form>
        </div>
        <label class='search-button' for='search-submit'><span class='glyphicons search'></span></lable>
      </ul>
      <ul class="nav navbar-nav hidden-sm hidden-md hidden-lg">
        <li><%= link_to 'Browse All', search_path(q:'') %></li>
        <li><%= link_to 'Countries', search_path(q:'', type: 'country') %></li>
        <li><%= link_to 'States', search_path(q:'', type: 'state') %></li>
        <li><%= link_to 'Cities', search_path(q:'', type: 'city') %></li>
        <li><%= link_to 'Add place', new_place_path %></li>
        <% if logged_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.username %><span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to 'Sign out', session_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <% unless sign_up_path? %>
            <li><%= link_to "Sign Up", new_user_path %></li> <% end %>
          <% unless log_in_path? %>
            <li><%= link_to "Log In", new_session_path %></li>
          <% end %>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  <div class="col-md-1"></div>
</nav>
