<div class='hero'>
  <div class='hero-text'>
    <h1>Explore The World</h1>
    <h2>Guides & Ratings ● Collaboratively Written</h2>
  </div>
</div>
<div class='container'>
  <div class='row main-content'>
    <div class="col-lg-10 col-lg-offset-1">
      <%= @related_places_cell.call %>
    </div>
  </div>
</div>
<% flash.clear %>
