<h2>Privacy Policy of www.rivyr.com</h2>
<p>This Application collects some Personal Data from its Users.</p>
<hr>
<h3>Data Controller and Owner</h3>
Rivyr.com,
admin@rivyr.com
<hr>
<h3>Types of Data collected</h3>
<p>Among the types of Personal Data that this Application collects, by itself or through third parties, there are: Cookie, Usage Data, Email, Username and Password.
Other Personal Data collected may be described in other sections of this privacy policy or by dedicated explanation text contextually with the Data collection.
The Personal Data may be freely provided by the User, or collected automatically when using this Application.</p>
<p>Any use of Cookies - or of other tracking tools - by this Application or by the owners of third party services used by this Application, unless stated otherwise, serves to identify Users and remember their preferences, for the sole purpose of providing the service required by the User.</p>
<p>Failure to provide certain Personal Data may make it impossible for this Application to provide its services.</p>
<p>The User assumes responsibility for the Personal Data of third parties published or shared through this Application and declares to have the right to communicate or broadcast them, thus relieving the Data Controller of all responsibility.</p>
<h3>Mode and place of processing the Data</h3>
<h4>Methods of processing</h4>
<p>The Data Controller processes the Data of Users in a proper manner and shall take appropriate security measures to prevent unauthorized access, disclosure, modification, or unauthorized destruction of the Data.</p>
<p>The Data processing is carried out using computers and/or IT enabled tools, following organizational procedures and modes strictly related to the purposes indicated. In addition to the Data Controller, in some cases, the Data may be accessible to certain types of persons in charge, involved with the operation of the site (administration, sales, marketing, legal, system administration) or external parties (such as third party technical service providers, mail carriers, hosting providers, IT companies, communications agencies) appointed, if necessary, as Data Processors by the Owner. The updated list of these parties may be requested from the Data Controller at any time.</p>
<h4>Place</h4>
<p>The Data is processed at the Data Controller's operating offices and in any other places where the parties involved with the processing are located. For further information, please contact the Data Controller.</p>
<h4>Retention time</h4>
<p>The Data is kept for the time necessary to provide the service requested by the User, or stated by the purposes outlined in this document, and the User can always request that the Data Controller suspend or remove the data.<p>
<hr>
<h3>The use of the collected Data</h3>
<p>The Data concerning the User is collected to allow the Application to provide its services, as well as for the following purposes: Analytics, Contacting the User and Registration and authentication.</p>
<p>The Personal Data used for each purpose is outlined in the specific sections of this document.</p>
<hr>
<h3>Detailed information on the processing of Personal Data</h3>
<p>Personal Data is collected for the following purposes and using the following services:</p>
<h4>Analytics</h4>
The services contained in this section enable the Owner to monitor and analyze web traffic and can be used to keep track of User behavior.
Google Analytics (Google)
Google Analytics is a web analysis service provided by Google Inc. (“Google”). Google utilizes the Data collected to track and examine the use of this Application, to prepare reports on its activities and share them with other Google services.
Google may use the Data collected to contextualize and personalize the ads of its own advertising network.
Personal Data collected: Cookie and Usage Data.
Place of processing : USA – Privacy Policy – Opt Out
Google Tag Manager (Google)
Google Tag Manager is an analytics service provided by Google, Inc.
Personal Data collected: Cookie and Usage Data.
Place of processing : USA – Privacy Policy
<h4>Contacting the User</h4>
Mailing List or Newsletter (This Application)
By registering to the mailing list or to the newsletter, the User’s email address will be added to the contact list of those who may receive email messages containing information of commercial or promotional nature concerning this Application. Your email address might also be added to this list as a result of signing up to this Application or after performing a purchase.
Personal Data collected: Email.
<h4>Registration and authentication</h4>
By registering or authenticating, Users allow this Application to identify them and give them access to dedicated services.
Depending on what is described below, third parties may provide registration and authentication services.
In this case, this Application will be able to access some Data, stored by these third party services, for registration or identification purposes.
Direct registration (This Application)
The User registers by filling out the registration form and providing the Personal Data directly to this Application.
Personal Data collected: Email, Password and Username.
<hr>
<h3>Additional information about Data collection and processing</h3>
<h4>Legal action</h4>
<p>The User's Personal Data may be used for legal purposes by the Data Controller, in Court or in the stages leading to possible legal action arising from improper use of this Application or the related services.</p>
<p>The User is aware of the fact that the Data Controller may be required to reveal personal data upon request of public authorities.</p>
<h4>Additional information about User's Personal Data</h4>
<p>In addition to the information contained in this privacy policy, this Application may provide the User with additional and contextual information concerning particular services or the collection and processing of Personal Data upon request.</p>
<h4>System Logs and Maintenance</h4>
<p>For operation and maintenance purposes, this Application and any third party services may collect files that record interaction with this Application (System Logs) or use for this purpose other Personal Data (such as IP Address).</p>
<h4>Information not contained in this policy</h4>
<p>More details concerning the collection or processing of Personal Data may be requested from the Data Controller at any time. Please see the contact information at the beginning of this document.</p>
<h4>The rights of Users</h4>
<p>Users have the right, at any time, to know whether their Personal Data has been stored and can consult the Data Controller to learn about their contents and origin, to verify their accuracy or to ask for them to be supplemented, cancelled, updated or corrected, or for their transformation into anonymous format or to block any data held in violation of the law, as well as to oppose their treatment for any and all legitimate reasons. Requests should be sent to the Data Controller at the contact information set out above.</p>
<h4>This Application does not support “Do Not Track” requests.</h4>
<p>To determine whether any of the third party services it uses honor the “Do Not Track” requests, please read their privacy policies.</p>
<h4>Changes to this privacy policy</h4>
<p>The Data Controller reserves the right to make changes to this privacy policy at any time by giving notice to its Users on this page. It is strongly recommended to check this page often, referring to the date of the last modification listed at the bottom. If a User objects to any of the changes to the Policy, the User must cease using this Application and can request that the Data Controller erase the Personal Data. Unless stated otherwise, the then-current privacy policy applies to all Personal Data the Data Controller has about Users.</p>
<h4>Information about this privacy policy</h4>
<p>The Data Controller is responsible for this privacy policy, prepared starting from the modules provided by Iubenda and hosted on Iubenda's servers.</p>
<hr>
<h3>Definitions and legal references<h3>

<h4>Personal Data (or Data)</h4>
<p>Any information regarding a natural person, a legal person, an institution or an association, which is, or can be, identified, even indirectly, by reference to any other information, including a personal identification number.</p>
<h4>Usage Data</h4>
<p>Information collected automatically from this Application (or third party services employed in this Application ), which can include: the IP addresses or domain names of the computers utilized by the Users who use this Application, the URI addresses (Uniform Resource Identifier), the time of the request, the method utilized to submit the request to the server, the size of the file received in response, the numerical code indicating the status of the server's answer (successful outcome, error, etc.), the country of origin, the features of the browser and the operating system utilized by the User, the various time details per visit (e.g., the time spent on each page within the Application) and the details about the path followed within the Application with special reference to the sequence of pages visited, and other parameters about the device operating system and/or the User's IT environment.</p>
<h4>User</h4>
<p>The individual using this Application, which must coincide with or be authorized by the Data Subject, to whom the Personal Data refer.</p>
<h4>Data Subject</h4>
<p>The legal or natural person to whom the Personal Data refers to.</p>
<h4>Data Processor (or Data Supervisor)</h4>
<p>The natural person, legal person, public administration or any other body, association or organization authorized by the Data Controller to process the Personal Data in compliance with this privacy policy.</p>
<h4>Data Controller (or Owner)</h4>
<p>The natural person, legal person, public administration or any other body, association or organization with the right, also jointly with another Data Controller, to make decisions regarding the purposes, and the methods of processing of Personal Data and the means used, including the security measures concerning the operation and use of this Application. The Data Controller, unless otherwise specified, is the Owner of this Application.</p>
<h4>This Application</h4>
<p>The hardware or software tool by which the Personal Data of the User is collected.</p>
<h4>Cookie</h4>
<p>Small piece of data stored in the User's device.</p>
<h4>Legal information</h4>
<p>Notice to European Users: this privacy statement has been prepared in fulfillment of the obligations under Art. 10 of EC Directive n. 95/46/EC, and under the provisions of Directive 2002/58/EC, as revised by Directive 2009/136/EC, on the subject of Cookies.</p>
<p>This privacy policy relates solely to this Application.</p>
<p>Latest update: August 18, 2014</p>
