<div class='container'>
  <div class='row main-content'>
    <div class="col-lg-10 col-lg-offset-1">
      <div class="jumbotron">
        <h1>Page not found</h1>
        <p>We couldn't find what you were looking for.  You may try searching above or picking a great place below.</p>
      </div>

      <%= render partial: 'places/top_places', locals: { places: @top_places } %>
    </div>
  </div>
</div>
