.actionbar {
	height: 34px;
	width: 100%;
	margin-top: 40px;
	background-color: $gray-lighter;
  border-bottom: 1px solid #ddd;

  .navbar-nav > li > a {
    padding-top: 7px;
    padding-bottom: 6px;
    font-size: 15px;

    &:hover {
      color: $brand-primary;
    }
  }
}
