a {
  text-decoration: none !important;
}

h1 {
  margin-top: 0px;
  margin-left: -3px;
}

h1, h2, h3, h4, h5, h6, 
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $font-family-base;
}

h2, .h2 {
  font-size: 36px;
  font-style: italic;
}

h3, .h3, {
  font-weight: bold;
}

h5, .h5 {
  font-size: 16px;
}

.btn-group {
  & > .btn-group {
    border-right: 1px solid #ccc;
  }
}

li .glyphicons {
	margin-right: 5px;
}

.main-content {
  margin-top: 60px;
}

.hero-text {
  h1 {
    font-weight: bold;
    text-shadow: 1px 1px $font-shadow-light-text;
    margin-top: 0px;
  }

  h2 {
    font-weight: normal;
    text-shadow: 1px 1px $font-shadow-light-text;
    color: #fff;
    margin-top: 0px;
  }
}

.form-group {
  .error {
    margin-top: 5px;
  }
}

.last {
	padding-right: 0px;
}

.text-muted {
  color: #777;
}

.label {
  font-size: 80%;
  font-weight: normal;
  padding-top: .25em;
  padding-bottom: .25em;
}

.tags {
  a {
    margin-left: 5px;
  }
}

.jumbotron {
  padding-top: 1px;
  padding-bottom: 15px;
	border-radius: 0px !important;
}

.alert-gray {
  background-color: $gray-lighter;
  border-color: $gray-lighter;
}

.main-content {
  min-height: 400px;
}

/* Footer */
footer {
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid #ecf0f1;
  
  a {
    color: $brand-primary;
  }
}
/* Footer */

/* Details */
.details {
  small {
    font-size: 13px;
  }

  &.side .glyphicons {
    top: -7px;
  }

  .profile-pic {
    padding: 3px;
    border-radius: 40px;
    margin-right: 8px;
    background-color: #fff;
    margin-top: -3px;
    height: 60px;
    width: 60px;
  }

  .btn { 
    margin: 0px;
    width: 100%;
    text-align: center;
  }

  ul {
    padding-left: 0px;
    list-style-type:none;

    li:first-of-type {
      margin: 1px 0px;
    }
  }
}

.details-spaced {
  li {
    margin: 3px 0px;
  }
}
/* Details */

.col-centered {
  float: none;
  margin: 0 auto;
}

.top-buffer {
  margin-top:20px;
}

.progress {
  margin-bottom: 8px;
  border-radius: 4px;
}

.sorts {
  margin-bottom: 15px;
}

.pages-home {
  .hero {
    height: 350px;
    position: relative;
    background: url(image_path('hero.jpg')) no-repeat center center; 
    width: 100%;;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .hero-text {
      position: relative;
      top: 20%;
      text-align: center;

      h1 {
        color: white;
        margin-bottom: 0px;
      }

      h3 {
        color: white;
        margin: 0px;
        padding: 3px 12px;
      }
    }
  }
}

@media (min-width: 768px) {
	.main-content {
		margin-top: 20px;
	}

  .hero-text {
    top: 10% !important;
    padding: 0px 10%;
  }
}

@media (max-width: 768px) {
  .glyphicons.search {
    margin-left: 7px;
  }
}
