.droplets-show {

  .rating-slider-output {
    font-size: 2em;
    margin-top: -13px;
  }

  .droplet-form {
    .submit {
      margin-top: 5px;
    }

    .md-input, .md-preview {
      padding: 10px;
    }

    .md-editor > textarea {
      font-family: $font-family-base;
      background-color: #fff;
      font-size: 16px;
    }

    .md-header {
      .glyphicons {
        top: -7px;
      }
    }
  }

  .droplet-item {
    margin-bottom: 20px;
    width: 100%;

    .vote-box {
      background-color: $brand-warning;
      padding: 0px;
      min-width: 50px;

      a {
        color: inherit;
      }

      .vote-value {
        font-size: 2em;
      }

      .vote-selector {
        background-color: $gray;
        cursor: pointer; cursor: hand;
        padding: 5px;

        .glyphicons {
          color: $brand-primary;
        }

        &.voted {
          background-color: $brand-info;
        }
      }
    }

    .droplet-content {
      .well {
        padding: 10px 20px;
      }

      blockquote {
        font-size: 15px;
      }
    }
  }

  .user-details {
    ul {
      margin: 0px;
    }
  }
}
