.navbar-default { 
  margin-bottom: 0px;

  a:hover, a:focus {
    color: $brand-warning !important;
  }

  ul {
    list-style-type: none;
    margin-bottom: 0px;
  }

  .navbar-nav {
    margin: 9.75px 6px;
  }

  .search-nav {
    margin-bottom: 6px;

    form {
      display: inline-block;
      vertical-align: top;
      width: calc(100% - 38px);

      .autocompleteHeader {
        background-color: $gray-lighter;
        color: $gray-dark;
        padding-left: 15px;
      }

      .twitter-typeahead {
        width: 100%;
        margin-right: 5px;
      }

      /* Placeholder Styles */
      ::-webkit-input-placeholder { color: $gray-lighter; }
      :-moz-placeholder { color: $gray-lighter; }
      ::-moz-placeholder { color: $gray-lighter; }
      :-ms-input-placeholder { color: $gray-lighter; }

      input:focus::-webkit-input-placeholder { color:transparent; }
      input:focus:-moz-placeholder { color:transparent; }
      input:focus::-moz-placeholder { color:transparent; }
      input:focus:-ms-input-placeholder { color:transparent; }
      /* end Styles */
    }
  }

  input {
    background-color: $brand-dark;
    border: 0;
    color: #fff;
    height: 40px;
    padding-left: 15px;
    width: 100%;
  }

  input:focus {
    outline: 0;
  }

  .navbar-brand {
    font-family: "chennai";
    font-size: 36px;
    padding: 9px 10px 6px;
    margin-right: 10px;

    img {
      margin-top: -6px;
      height: 22px;
    }
  }

  .glyphicons {
    color: #fff;
  }

  .search-button .search {
    font-size: 22px;
    margin-top: 8px;
  }

}

@media (min-width: 768px) {
  .container-fluid {
    padding-right: 0px;
  }

  .navbar-default { 
    .navbar-nav {
      width: calc(100% - 104px);
      margin: 0px !important;

      li a {
        padding-top: 10px !important;
        padding-bottom: 9px !important;
      }
    }

    .search-nav {
      width: calc(100% - 200px);
      margin-bottom: 0px !important;
      
      form {
				width: calc(100% - 36px);
        padding-right: 15px;
      }
    }
  }

  .lg-right {
    float: right !important;
  }
}
