.places-show {
  h2 {
    margin: 10px 0px 5px;
    font-style: italic;
  }

  .droplet-item {
    padding-left: 0px;
    padding-right: 0px;

    .well {
      margin-bottom: 0px;
    }
  }

  .droplet-content {
    padding-left: 0px;
  }

  .rating-media {
    margin-bottom: 10px;
  }
}

.droplet-content {
  ul, ol {
    margin-top: 10.5px;
  }

  blockquote {
    margin: 21px 0;
  }
}

.rating-badge {
  background: #18bc9c;

  .rating-value {
    font-size: 6em;
    padding-top: 12px;
    line-height: 1em;
  }
}
