// Variable Overrides
$navbar-border-radius: 0;
$font-size-base: 16.5px;
$font-size-small: ceil(($font-size-base * 0.85));
$font-size-h1: floor($font-size-base * 4);
$font-family-sans-serif: "proxima-nova";
$font-family-base: $font-family-sans-serif;

$brand-primary: darken(#1e71a9,3);
$brand-dark: darken($brand-primary, 5);
$brand-warning: #FFA400;
$progress-bar-warning-bg: $brand-warning;
$gray-lighter: #f5f5f5;
$component-active-bg: #fff;
$navbar-default-bg: $brand-primary;
$brand-info: $brand-primary;

$btn-info-bg: $brand-primary;
$btn-info-border: $brand-primary;
$label-info-bg: $brand-primary;

$nav-gray-darker: darken($gray-lighter, 5);
$navbar-default-link-active-bg: $brand-dark;
$navbar-height: 40px;

$link-color: $brand-info;
$link-hover-color: $brand-warning;
$dropdown-link-color: $link-color;
$dropdown-link-hover-bg: $component-active-bg;
$dropdown-link-hover-color: $brand-warning;

$jumbotron-bg: $gray-lighter;
$well-bg: $gray-lighter;

$breadcrumb-color: $gray-darker;
$breadcrumb-bg: $gray-lighter;

$progress-bar-info-bg: $brand-info;

$border-radius-base: 0px;
$border-radius-small: 0px;
$input-border-radius: 0px;

$font-shadow-light-text: #6590AD;
