.places-search {
  .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
  }

  a.disabled {
    pointer-events: none;
    cursor: default;
    color: $gray;
  }

  .search-header {
    margin-bottom: 20px;

    h2 {
      font-weight: normal;
      margin: 0;
    }

    hr {
      margin-top: 10px;
    }

    .container {
      padding-left: 0px;
    }

    .sort {
      margin-top: 2px;

      li {
        margin-left: 5px;
      }

      a {
        padding: 5px 12px 4px;
      }
    }
  }

  .no-filters {
    text-align: center;
  }

  .filters {
    padding: 0px;

    .filter-heading {
      padding: 5px 20px;
      background-color: $brand-primary;
      color: whitesmoke;
    }

    .filter-list {
      margin-bottom: 0;
      padding: 20px;
      padding-top: 10px;
    }
  }

  a {
    text-decoration: none;
  }

  ul {
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 0px;
  }

  .filters {
    min-width: 180px;

    ul {
      padding-left: 0px;
    }

    input[type=text] {
      height: 30px;
      margin: 5px 0px 5px -1px;
    } 

    .price-filters {
      margin-left: 5px;

      label {
        width: 30px;
        margin-right: 5px;
        font-weight: normal;
      }

      .price-row {
        margin: 3px 0px;
      }

      .btn {
        width: 100px;
        margin-left: 35px;
      }
    }
  }

  .results {
    padding-right: 0px;

    .result-item {
      width: 100%;
      height: 60px;
      border: 1px solid #eee;
      margin-bottom: 20px;

      h4 {
        margin-top: 0px;
        margin-bottom: 0px;
      }

      .result-content {
        padding: 9px 15px;
      }

      .rank {
        font-size: 32px;
        height: 60px;
        width: 60px;
        margin: -1px 0px 0px 0px;
        padding-top: 9px;
        padding-left: 2px;
        color: #fff;
        background-color: $brand-info;

        .glyphicons.search {
          top: 0px;
        }

      }

      .null-result {
        background-color: $brand-warning;
      }
    }
  }
}

.search-button {
	cursor: pointer;
}

/* Typeahead */
.tt-query,
.tt-hint {
    width: 100%;
    outline: none;
}

.tt-query {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-dropdown-menu {
    width: 100%;
    padding: 0px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
}

.tt-suggestion.tt-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
    color: #fff;
    background-color: #0097cf;
}

.tt-suggestion p {
    margin: 0;
}

@media (max-width: 768px) {
  .tt-dropdown-menu {
    position: static !important;
  }
  .results {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}
/* Typeahead */
