.widget-row {
  padding-left: 0;
  padding-right: 0;
}

.widget {
  h3 {
    font-weight: bold;

    .glyphicons {
			top: -3px;
			margin-right: 7px;
			font-size: 23px;
    }

		.google_maps {
			margin-right: 4px;
		}

    a {
      &:hover {
        color: $brand-warning;
      }
    }
  }

  ul {
    list-style-type: none;
    padding-left: 0px;
  }

  li {
    border-bottom: 1px solid #eee;
		height: 32px !important;

    &:hover {
      background-color: $brand-primary;
      color: #fff;
    }

		&:first-child {
			border-top: 1px solid #eee;
		}

    a {
      display: block;
      text-decoration: none;
			padding: 5px 8px;
    }

    a:hover {
      color: #fff;
    }
  }
}
