<div itemprop='reviewBody' class='droplet-item container-fluid'>
  <h2><%= droplet.droplet_type.name %></h2>

  <% if droplet.content %>
    <div class='droplet-content col-sm-8 col-md-9 col-lg-9'>
      <%= raw droplet.render %>
    </div>
    <div class="details side text-muted col-sm-4  col-md-3 col-lg-3 well">
      <%= render partial: 'shared/guide_side_details', locals: { place: @place, droplet: droplet } %>
    </div>
  <% else %>
    <div class="alert alert-gray text-center">
      <% if current_user %>
        <%= link_to place_droplet_path(@place, droplet.droplet_type) do %><span class="btn btn-info">DROPLET NEEDED</span></a><% end %>
      <% else %>
        <%= link_to new_session_path do %><span class="btn btn-info">DROPLET NEEDED</span></a><% end %>
      <% end %>
    </div>
  <% end %>
</div>
