<h1 itemprop="itemReviewed"><%= link_to_if !current_page?(place_path(place)), place.name, place_path(place) %></h1>
<div class='details details-spaced text-muted'>
  <ul>
    <% if place.address.present? %><li><%= place.address %></li><% end %>
    <% if place.phone_number.present? %><li><%= place.phone_number %></li><% end %>
    <% unless place.leaf? %><li><%= link_to " Browse places in #{place.name}", search_path(place_id: place.id, q: ""), class: 'label label-warning' %></li><% end %>
    <% if place.tag_list.present? %><li><%= render 'places/tag_details' %></li><% end %>
  </ul>
</div>
