<b>Price :</b>
<div class='price-filters'>
  <form action="<%= facet_path %>">
    <div class='price-row'>
      <label for="minPrice" class='pull-left'>min:</label>
      <input type="text" class='form-control' type="number" id="minPrice" name="minPrice" maxlength="9" value="<%= @minPrice if @minPrice %>">
    </div>
    <div class='price-row'>
      <label for="maxPrice" class='pull-left'>max:</label>
      <input type="text" class='form-control' type="number" id="maxPrice" name="maxPrice" maxlength="9" value="<%= @maxPrice if @maxPrice %>">
    </div>
    <input type='hidden' name='q', value='<%= @keyword %>'>
    <% if @type %><input type='hidden' name='type', value='<%= @type %>'><% end %>
    <% if @tags %><input type='hidden' name='tags', value='<%= @tags %>'><% end %>
    <input type='submit' class="btn btn-info btn-xs" value='submit'>
  </form>
</div>

