<h2>Overview</h2>
<div class="media rating-media">
  <div class='rating-badge pull-left col-lg-2'>
    <div class='text-center'> 
      <div itemprop="reviewRating" content="<%= place.schema_rating %>" class='rating-value'>
        <%= place.present_rating %>
      </div>
      <h4>rivyr rating</h4>
    </div>
  </div>
  <div class="media-body">
    <% droplets.each_with_index do |droplet, i| %>
    <h5 class="media-heading"><%= droplet.droplet_type.name %><span class="media-heading pull-right"><%= place.type_rating(droplet.droplet_type) %></span></h5>
    <div class="progress">
      <div class="progress-bar progress-bar-<%= progress_colors(i) %>" role="progressbar" aria-valuenow=<%= place.type_rating(droplet.droplet_type) %> aria-valuemin="0" aria-valuemax="100" style="width: <%= place.type_rating(droplet.droplet_type) %>%;">
        <span class="sr-only"><%= place.type_rating(droplet.droplet_type) %></span>
      </div>
    </div>
  <% end %>
  </div>
</div>
