<div class='col-lg-9 col-md-9 col-sm-9 results'>
    <ul>
      <% @results.each_with_index do |result, i| %>
        <div class='result-item'>
          <span class='rank pull-left text-center'><%= result.present_rating %></span>
          <div class='result-content pull-left'>
            <h4><%= link_to result.name, place_path(result.slug) %></h4>
            <p><small><%= result.address %></small></p>
          </div>
        </div>
      <% end %>
      <div class='result-item'>
        <span class='rank pull-left text-center null-result'><span class='glyphicons search'></span></span>
        <div class='result-content pull-left'>
          <h4><%= link_to "Place not found?", new_place_path %></h4>
          <p><small>Help build Rivyr, <%= link_to "add a place!", new_place_path %></small></p>
        </div>
      </div>
    </ul>
  <%= will_paginate @results, renderer: BootstrapPagination::Rails, class: 'pull-right' %>
</div>
