<% if show_facets?('_tags')  %>
  <div class='filter-set'>
    <b>Tags :</b>
    <ul>
      <% facet_list('_tags').each do |item, num| %>
        <li><%= link_to facet_tag_text(item, num), facet_tags_path(item) %></li>
      <% end %>
    </ul>
  </div>
<% end %>
