<% count = @place.tag_list.count %>
<% @place.tag_list.each_with_index do |item, index| %>
  <%= link_to_if @place.parent, item, search_path(place_id: @place.parent.try(:id), tags: item, q: ''), class: "label label-info" %>
<% end %>
