<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Name</th>
      <th>Type</th>
      <th>Rating</th>
    </tr>
  </thead>
  <tbody>
    <% places.each_with_index do |place, index| %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= link_to place.name, place_path(place) %></td>
      <td><span class='label label-default'><%= place.place_type.name %></span></td>
      <td><%= place.present_rating %></td>
    </tr>
    <% end %>
  </tbody>
</table> 
