<a name="top_places"></a>
<ul class="nav nav-tabs top-buffer" role='tablist' style="margin-bottom: 15px;">
  <li class='pull-right <%= 'active' if params["tab"] == "least" %>'><%= link_to "Least Droplets", url_for(tab: 'least', anchor: 'top_places') %></li>
  <li class='pull-right <%= 'active' if params["tab"].nil? %>'><%= link_to "Best Rated", url_for(anchor: 'top_places') %></li>
  <li class='pull-left'><div class='link'>Top Places</div></li>
</ul>
<div>
  <div class="tab-pane active" id="best">
    <%= render partial: 'places/top_places_table', locals: { places: places } %>
  </div>
</div>
