<% if show_facets?('place_type') %>
  <div  class='filter-set'>
    <b>Type :</b>
    <ul>
      <% facet_list('place_type').each do |item, num| %>
        <li><%= link_to facet_type_text(item, num), facet_type_path(item) %></li>
      <% end %>
    </ul>
  </div>
<% end %>

