<div class='container'>
  <div class='row main-content'>
    <div class="col-lg-10 col-lg-offset-1">
      <%= render partial: 'shared/alerts' if flash[:alerts] %>
        <div class="col-sm-7 col-centered">
          <div class='row text-center'>
            <%= image_tag "moon-river.png" %>
          </div>
          <div class='row'>
            <h2>Add a place in seconds</h2>
            <p>Submissions will be immediately viewable but may be reviewed or modified for correctness.</p>
            <!-- Sign up Form -->
            <div class="well bs-component">
              <%= form_for @place do |f| %>
                <fieldset>
                  <div class="form-group <%= 'has-error' if @place.errors[:name].present? %> ">
                    <%= f.label "Place Name", class: "control-label" %>
                    <%= f.text_field :name, class: 'form-control' %>
                    <%= render_first_error(@place, :name) %>
                  </div>
                  <div class="form-group <%= 'has-error' if @place.errors[:address].present? %> ">
                    <%= f.label "Street Address", class: "control-label" %>
                    <%= f.text_field :address, class: 'form-control' %>
                    <%= render_first_error(@place, :address) %>
                  </div>
                  <div class="form-group <%= 'has-error' if @place.errors[:phone_number].present? %> ">
                    <%= f.label "Phone Number", class: "control-label" %>
                    <%= f.text_field :phone_number, class: 'form-control' %>
                    <%= render_first_error(@place, :phone_number) %>
                  </div>
                  <div class="form-group <%= 'has-error' if @place.errors[:tag_list].present? %> ">
                    <%= f.label "Tags", class: "control-label" %>
                    <%= f.text_field :tag_list, class: 'form-control' %>
                    <span class="help-block">Comma separated list of tags</span>
                    <%= render_first_error(@place, :tag_list) %>
                  </div>
                  <div class="form-group <%= 'has-error' if @place.errors[:phone_number].present? %> ">
                    <%= f.label "Type of place", class: "control-label" %>
                    <%= f.collection_select :place_type_id, @place_types, :id, :name, {}, {class: 'form-control'} %>
                  </div>
                <div class="form-group">
                  <%= f.submit "Add place", class: "btn btn-primary pull-right" %>
                </div>
              </fieldset>
            <% end %>
            </div>
            <!-- /end Sign up Form -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
