<div class='container'>
  <div class='row main-content'>
    <div class="col-lg-10 col-lg-offset-1">
      <div class='search-header'>
        <div class="container-fluid">
          <% if @keyword.present? %>
            <h2 class='pull-left'>Search Results for <em><%= @keyword %></em></h2>
          <% else %>
            <h2 class='pull-left'>Search Results</h2>
          <% end %>

          <ul class="sort nav nav-pills pull-right small">
            <li class='<%= "active" if @results.sort == "relevancy" %>'><%= link_to 'Relevancy', params.except("sort"), class: "narrow" %></li>
            <li class='<%= "active" if @results.sort == "rating" %>'><%= link_to 'Rating', params.merge(sort: 'rating'), class: "narrow" %></li>
          </ul>
        </div>

        <% if selected_facets.present? || @results.place %>
        <div class="container-fluid">
          <hr />
          <span class='pull-left'>Selected Filters: </span>
          <ul class="tags">
            <% if @results.place %>
              <li class='pull-left'><%= link_to "x #{@results.place.name.downcase}", @results.facet_without_place, class: 'label label-warning' %></li>
            <% end %>
            <% selected_facets.each do |tag| %>
              <li class='pull-left'><%= link_to "x #{tag[0]}", tag[1], class: 'label label-info' %></li>
            <% end %>
          </ul>
        </div>
        <% end %>
      </div>

      <div class='col-lg-3 col-md-3 col-sm-3 filters well'>
        <%= @type_facet_cell.call %>
        <%= @tags_facet_cell.call %>
        <% if @type_facet_cell.hide? && @tags_facet_cell.hide? %>
          <div class='no-filters'>No filters left</div>
        <% end %>
      </div>
        
      <%= render 'search_results' %>
    </div>
  </div>
</div>
