<div class='container'>
  <div class='row main-content'>
    <div class="col-lg-10 col-lg-offset-1">
      <%= render partial: 'shared/alerts' if flash[:alerts] %>

      <div itemscope itemprop="review" itemtype="http://schema.org/Review">
        <meta itemprop="author" content="<%= author_byline(@droplets) %>">
        <%= render partial: 'guide_details', locals: { place: @place } %>
        <hr />
        <%= render partial: 'rivyr_rating', locals: { droplets: @droplets, place: @place } %>
        <%= render partial: 'guide_droplet', collection: @droplets, as: 'droplet' %>
      </div>
      <hr />
      <h2>Nearby & Related</h2>
      <%= @related_places_cell.call %>
    </div>
  </div>
</div>
