<!DOCTYPE html>
<html>
  <head>
    <script src="//use.typekit.net/wqb7gtl.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <script>window.js_vars = <%= raw js_vars.to_json %></script>

    <title><%= title_helper %></title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% if @meta_description %><meta name="description" content="<%= @meta_description %>"><% end %>
    <% if @meta_keywords %><meta name="keywords" content="<%= @meta_keywords %>"><% end %>

    <% if @canonical %><link rel="canonical" href="<%= @canonical %>" /><% end %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body class= '<%= "#{controller_name}-#{action_name}" %> '>
    <%= render 'shared/gtm' if Rails.env.production? %>

    <%= cell(:navbar, place: @place).call %>
    <%= cell(:navbar, place: @place).call('actionbar') %>
    <%= yield %>
    <%= render partial: 'shared/footer' %>

    <!-- JS -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/hogan.js/3.0.0/hogan.js"></script>
    <%= javascript_include_tag 'application' %>
    <!-- JS -->
  </body>
</html>
