<% if model.show_facets?(attr) %>
  <div class='filter-set'>
    <div class='filter-heading'>
      <b>Filter by <%= key %></b>
    </div>
    <div class='filter-list'>
      <ul>
        <li><form><input id="<%= key %>-query" type='text' class='form-control'></input></form></li>
        <% model.facet_list(attr).each do |item, num| %>
          <li><%= link_to model.send("present_#{key}_facet", item, num), model.send("facet_#{key}_path", item) %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

